header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 1.3em;
    margin-bottom: 10px;
    font-size: 1.2em;

    .header-logo-side {
        display: flex;
        align-items: center;
        gap: .7em;
        flex-grow: 1;

        img {
            height: 3em;
        }

        h1 {
            font-family: 'Parisienne';
            font-size: 2rem;
        }
    }

    nav {
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: brown;
                font-weight: bold;
            }
        }
    }
}