<section class="recipe-preview">
    <div class="author-data">
        <img src="{{recipe.by.imgUrl}}" class="user-img" />
        <span class="recipe-author">{{recipe.by.fullname}}</span>
    </div>

    <div class="recipe-img-container">
        <img src="{{recipe.imgUrl}}" class="recipe-img" />
    </div>
    <div class="icons-area">
        <div class="right-icons">
            <div><span [innerHTML]="icons['heart']"></span> <span>{{recipe.likedBy.length}}</span></div>
            <div><span [innerHTML]="icons['comment']">Comments </span><span>{{recipe.comments.length}}</span></div>
        </div>
        <span [innerHTML]="icons['save']"></span>
    </div>

    <div class="recipe-metadata">
        <div class="recipe-description-and-author">
            <span class="recipe-author">{{recipe.by.fullname}}</span>
            <span class="recipe-txt">{{recipe.txt}}</span>
        </div>
        <p *ngIf="recipe.comments.length>0" class="small-metadata comments-viewing" (click)="openModal('comments')">View
            all comments</p>
        <p class="small-metadata">{{ recipe.createdAt | relativeTime }}</p>
    </div>

    <modal *ngIf="isModalOpen" [component]="modalComponent" [data]="modalData" (close)="handleCloseModal()"
        [ngClass]="{'modal-open': isModalOpen}" class="modal-container" />
</section>