<div class="comments-area">
    <h3>Comments</h3>
    <hr />
    <div class="comments-area-content">
        <ul class="comment-list">
            <li *ngFor="let comment of commentsList">
                <comment-preview [comment]="comment" />
            </li>
        </ul>

        <div class="adding-comment-container">
            <hr />
            <div class="emoji">
                <span *ngFor="let emoji of emojis" (click)="addEmoji(emoji)">
                    {{ emoji }}
                </span>
            </div>
            <div class="adding-comment-content">
                <img src="{{byUser.imgUrl}}" class="user-img" />
                <form class="comment-txt" (submit)="onSendComment()">
                    <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5" placeholder="Add a comment" [(ngModel)]="commentTxt"
                        name="comment"></textarea>
                    <button [disabled]="!commentTxt.trim()" class="btn btn-dark btn-send-comment">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>