html {
    font-family: 'Mukta-light';
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;

    &.user-img {
        height: 30px;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

p {
    margin: 0;

    &.small-metadata {
        font-family: 'Mukta-Light';
        opacity: .6;
        font-size: .9em;
    }
}

h3 {
    margin: 0;

    .comments-area & {
        justify-self: center;
        font-family: 'Mukta-Medium';
    }
}

hr {
    opacity: .2;

    .comments-area & {
        width: 100%;
    }
}

.recipe-author {
    font-family: 'Mukta-Medium';
}