@import '../setup/mixin';
@import '../setup/vars';

html {
    font-family: 'Mukta-light';
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;

    &.user-img {
        height: 30px;
        border-radius: 50%;
        aspect-ratio: 1/1;

        .feed-header & {
            height: 80px;
        }
    }

    .post-list & {
        width: 100%;
    }
}

p {
    margin: 0;

    &.small-metadata {
        font-family: 'Mukta-Light';
        opacity: .6;
        font-size: .9em;
    }
}

h3 {
    margin: 0;

    .comments-area & {
        justify-self: center;
        font-family: 'Mukta-Medium';
    }
}

hr {
    opacity: .2;

    .comments-area & {
        width: 100%;
    }
}

input {
    &.file-input {
        display: none;
    }
}

pre {
    margin: 0;
    font-family: inherit;
}

textarea {
    font-family: inherit;
    padding-inline-start: .5em;
    border: none;

    .comment-txt & {
        flex-grow: 1;
        padding-inline-start: 3.5em;
        padding-inline-end: 1.5em;
    }

    .comment-txt &:focus {
        border: none;
        outline: none;
    }
}

.recipe-author {
    font-family: 'Mukta-Medium';
}

.btn {
    padding: 0.3em 1em;
    border: none;
    border-radius: 0.3em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;

    &-dark {
        @include btn($type: dark);
    }

    &-delete {
        @include btn($type: 'delete');
    }

    &-clear {
        @include btn($type: 'clear');
    }
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}