<footer class="app-footer">
    <div class="footer-actions">
        <span [innerHTML]="routeType === 'home' ? icons['homeFull'] : icons['home']" class="icon" routerLink="/"></span>
        <span [innerHTML]="icons['search']" class="icon"></span>
        <span [innerHTML]="routeType === 'edit' ? icons['createFull'] : icons['create']" class="icon"
            routerLink="/edit"></span>
        <img *ngIf="loggedInUser$ | async as user" [src]="user.imgUrl" class="user-img" routerLink="/feed/123" />
    </div>
</footer>