.recipe-edit {
    justify-self: center;
    margin-block-end: 50px;

    .edit-buttons {
        display: flex;
        justify-content: space-between;
    }

    .active {
        color: blue;
    }
}