@font-face {
    font-family: 'Mukta-Light';
    src: url(/font/Mukta/Mukta-Light.ttf);
}

@font-face {
    font-family: 'Mukta-Regular';
    src: url(/font/Mukta/Mukta-Regular.ttf);
}

@font-face {
    font-family: 'Mukta-Medium';
    src: url(/font/Mukta/Mukta-Medium.ttf);
}

@font-face {
    font-family: 'Mukta-ExtraBold';
    src: url(/font/Mukta/Mukta-ExtraBold.ttf);
}

@font-face {
    font-family: 'Parisienne';
    src: url(/font/Parisienne/Parisienne-Regular.ttf);
}