@import '../setup/vars';

@mixin btn($type: regular) {
    @if $type ==dark {
        background-color: $clr-bg-2;
        color: $clr-bg-1;
        border-radius: 100vh;
        padding: .3em 1em;

        &:hover {
            background-color: darken($clr-bg-2, 5%);
        }
    }

    // @else if $type ==light {
    //     background-color: $clr-btn-1;
    //     color: $gray4;

    //     &:hover {
    //         background-color: darken($clr-bg-1, 5%);
    //     }
    // }
    @else if $type =='clear' {
        background-color: $clr-bg-1;

        &:hover {
            background-color: darken($clr-bg-1, 5%);
        }
    }

    @else if $type =='delete' {
        background-color: $clr-delete;
        color: $clr-bg-1;

        &:hover {
            background-color: darken($clr-delete, 5%);
        }
    }
}

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-large-layout {
    @media (min-width: calc($large-breakpoint)) {
        @content;
    }
}