$clr-bg-1: #fff;
$clr-bg-2: #257cf7ec;
$clr-bg-3: whitesmoke;

$clr-border-1: #c7c7c7;
$clr-delete: #c9372c;


$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1200px;